@use "styles/breakpoints";
@use "styles/paddings";

.wrapper {
  display: flex;
  justify-content: center;
  transform: translate3d(-3px, 0, 0);
}

.padding {
  padding-left: calc(#{paddings.$p0} * 2);
}