@use "vars";
@use "./paddings";
@use "./gaps";

@mixin aFloat($duration: vars.$transitionDuration * 10, $height: 2px) {
  animation: float $duration ease-in-out infinite;

  @keyframes float {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-$height);
    }

    100% {
      transform: translateY(0);
    }
  }
}

@mixin aEnter($height: 20px) {
  animation: enter vars.$transitionDuration normal forwards ease-in-out;

  @keyframes enter {
    0% {
      opacity: 0;
      height: 0;
    }

    10% {
      height: 0;
    }

    80% {
      opacity: 1;
    }

    100% {
      height: $height;
    }
  }
}

@mixin aExit {
  animation: exit vars.$transitionDuration normal forwards ease-in-out;

  @keyframes exit {
    0% {
      opacity: 1;
    }

    10% {
      opacity: 1;
    }

    80% {
      height: 0;
    }

    100% {
      opacity: 0;
      height: 0;
    }
  }
}

@mixin aRainbow {
  animation: rainbow vars.$transitionDuration * 32 infinite;

  @keyframes rainbow {
    0% {
      color: orange;
    }

    10% {
      color: purple;
    }

    20% {
      color: red;
    }

    30% {
      color: cadetblue;
    }

    40% {
      color: yellow;
    }

    50% {
      color: coral;
    }

    60% {
      color: green;
    }

    70% {
      color: cyan;
    }

    80% {
      color: deeppink;
    }

    90% {
      color: dodgerblue;
    }

    100% {
      color: orange;
    }
  }
}
