$cPrimary             : var(--c-primary);
$cHighlight           : var(--c-highlight);
$cBuffered            : var(--c-buffered);
$cBackgroundPrimary   : var(--c-backgroundPrimary);
$cBackgroundHighlight : var(--c-backgroundHighlight);
$cBlack               : var(--c-black);
$cGray                : var(--c-gray);
$cGrayDark            : var(--c-darkGray);
$cBorderPrimary       : var(--c-borderPrimary);
$cShadowOpacity       : var(--c-shadowOpacity);
$cShadowOpacityLight  : var(--c-shadowOpacityLight);
