@mixin fontBold {
  font-weight: 600;
}

@mixin singleLine {
  // display: block; // Required for text-overflow to work
  max-width: 100%; // Ensures it respects container width}
  overflow: hidden; // Hides the overflowing text
  text-overflow: ellipsis; // Adds the dots (...) at the end
  white-space: nowrap; // Prevents text from wrapping to new lines
}
