$themePrimary: var(--theme-primary);
$themeHighlight: var(--theme-highlight);
$themeBuffered: var(--theme-buffered);
$themeBackgroundPrimary: var(--theme-background-primary);
$themeBackgroundHighlight: var(--theme-background-highlight);
$themeBlack: var(--theme-black);
$themeGray: var(--theme-gray);
$themeGrayDark: var(--theme-dark-gray);
$themeBorderPrimary: var(--theme-border-primary);
$themeShadowOpacity: var(--theme-shadow-opacity);
$themeShadowOpacityLight: var(--theme-shadow-opacity-light);
