Options -Indexes

RewriteEngine On

# if not our domaimn
RewriteCond %{HTTP_HOST} !^screwmycode\.in$
RewriteRule ^(.*)$ https://screwmycode.in/$1 [L,R=301]

# redirect all to root index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L,QSA]
