@use "src/styles/grid";
@use "src/styles/fonts";
@use "src/styles/theme";
@use "src/styles/paddings";
@use "src/styles/gaps";
@use "src/styles/breakpoints";
@use "src/styles/shadows";
@use "src/styles/radiuses";
@use "src/styles/transitions";

.container {
  position: relative;
  top: paddings.$p0;
}

.input {
  align-items: center;
  display: grid;
  gap: paddings.$p0;
  grid-template-columns: 1fr grid.$col3;

  @include fonts.fontBold;

  @include breakpoints.above(tablet) {
    margin-left: - paddings.$p0;
  }

  > input, > button {
    background: theme.$themeBackgroundHighlight;
    color: theme.$themePrimary;
    display: inline-block;
    height: 36px;
    text-transform: none;

    @include shadows.s0;
    @include radiuses.r0;
  }

  > input {
    font-size: 0.9em;
    padding-left: calc(#{paddings.$p0} - 2px);

    @include breakpoints.above(tablet) {
      font-size: 0.7em;
    }
  }

  > button {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.inputLoading {
  cursor: wait;
}

.inputButton {
  &:hover {
    background: theme.$themeHighlight;
    color: theme.$themeBackgroundHighlight;
  }
}

.inputButtonLoading {
  cursor: wait !important;
}

.inputButtonDisabled {
  cursor: not-allowed !important;
}

.inputButtonIconError {
  animation: shake 0.6s ease-in-out;
  color: red;
}

.inputButtonIconLoading {
  animation: rotate 2s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }

  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}

.fuzzyContainer {
  align-items: flex-start;
  background-color: theme.$themeBackgroundPrimary;
  display: flex;
  flex-direction: column;
  gap: gaps.$g0;
  justify-content: center;

  // left: 0;
  // padding: 0 paddings.$p0;
  left: calc(-#{paddings.$p0});
  position: absolute;
  top: paddings.$p0 * 4;
  width: 100%;

  // width: calc(100% + #{paddings.$p0});
  z-index: 1000;

  @include fonts.singleLine;
  @include shadows.s0;
  @include radiuses.r0;
}

.fuzzyElement {
  align-items: center;
  display: flex;
  height: paddings.$p0 * 4;
  justify-content: flex-start;
  padding: 0 paddings.$p0;
  width: 100%;

  &:hover {
    background-color: theme.$themeBackgroundHighlight;
    cursor: pointer;
  }
}