@use "styles/grid";
@use "styles/fonts";
@use "styles/theme";
@use "styles/paddings";
@use "styles/gaps";
@use "styles/breakpoints";
@use "styles/shadows";
@use "styles/radiuses";
@use "styles/transitions";

.header {
  display: grid;
  grid-area: header;
  grid-template-columns: grid.$col1mobile grid.$col2;
  height: grid.$row1mobile;
  padding: 0 paddings.$p0;

  @include breakpoints.above(mobile) {
    grid-template-columns: grid.$col1mobile grid.$col2 grid.$col3;
    height: grid.$row1mobile;
  }

  @include breakpoints.above(tablet) {
    grid-template-columns: grid.$col1 grid.$col2 grid.$col3;
  }
}

.home {
  align-items: center;
  display: flex;
  gap: gaps.$g1;
  height: 100%;
  justify-content: center;

  @include transitions.t0(color);

  @include breakpoints.above(tablet) {
    margin-left: - paddings.$p0 * 4;
  }

  &:hover {
    cursor: pointer;
  }
}

.active {
  color: theme.$themeHighlight;
}

.disabled {
  cursor: default;
  pointer-events: none;
}

.user, .theme {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transform: translate3d(#{gaps.$g0}, 0, 0);

  @include transitions.t1(color);

  &:hover {
    color: theme.$themeHighlight;
  }
}
