/*body {*/
/*    margin: 0;*/
/*}*/

.page {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 100vh;

    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    margin: 0 10px 0 10px;
    height: 90%;

    /*background: #8dffcd;*/
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 10px;
    margin-right: 10px;
    height: 150px;

    text-decoration: none;

    /*background: #d3cda0;*/
}

.title a {
    font-size: 2rem;
    font-weight: 900;
    color: white;
    text-decoration: none;
}

.title-spacer {
    /*height: 30%;*/
    height: 15%;
    /*background: rgba(0, 200, 0, 0.2);*/
}

.main {
    display: flex;
    flex-direction: column;

    height: 45%;
    margin: 10px;

    /*background: #ec3456;*/
}

.main-item {
    margin: 10px 10px 0 10px;

    /*background: #87a7bd;*/
}

.main-item:last-child {
    margin-bottom: 10px;
}

.main-spacer {
    height: 30%;
    /*background: rgba(0, 200, 0, 0.2);*/
}

.form {
    display: flex;
    justify-content: center;

    margin: 5px;

    /*background: #fff27f;*/
}

.form:first-child input {
    width: 300px;

    text-align: left;

    font-size: 0.8rem;

    border: 0;
    border-bottom: 1px solid white;

    color: white;
    background: transparent;
}

.form:last-child input {

    margin: 5px;

    border: 0;
    border-bottom: 1px solid white;

    color: white;
    background: black;
}

.form:last-child:hover input {
    cursor: pointer;
}

.player-title {
    display: flex;
    justify-content: center;

    margin: 5px;

    /*background: #8cffd6;*/
}

.player {
    display: flex;
    justify-content: center;

    /*margin: 5px;*/
    margin: 15px;

    /*background: #ffe1c1;*/
}

.player audio {
    width: 500px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 5px;

    /*background: #ffbbce;*/
}

.controls-item {
    width: 100px;

    text-align: center;
    /*background: #8fff7d;*/
}

.controls-item:first-child {
    margin-right: 5px;
}

.controls-item input {
    margin-top: 5px;
    width: 40px;
    height: 30px;

    text-align: center;
    border: 0;
    border-bottom: 1px solid white;
    font-size: 1.2rem;
    font-weight: 900;
    color: white;
    background: transparent;
}

.controls-item input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

.controls-item input[type="number"] {
    -moz-appearance: textfield;
}

.controls-slider {
    display: flex;
    align-items: center;
    justify-content: center;

    /*margin: 5px;*/
    margin: 15px;

    /*background: #afff9d;*/
    background: transparent;

}

.controls-slider input[type="range"] {
    width: 500px;
    background: transparent;
}

/* All the same stuff for Firefox */
.controls-slider input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 10px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
}

.controls-slider input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #232323;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

@media (max-width: 768px) {
    .player audio {
        width: 500px;
    }

    .controls-slider input[type="range"] {
        width: 500px;
    }
}

@media (max-width: 600px) {
    .player audio {
        width: 300px;
    }

    .controls-slider input[type="range"] {
        width: 300px;
    }
}
