body {
    margin: 0;
    overflow: hidden;
    background: black;
}

.three-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 100vh;

    color: #EFEFEF;
}

.corner-help {
    position: absolute;
    margin: 7px 0;
    top: 0;
    left: 0;
    font-size: 2rem;
    color: #606060;
}

.corner-help svg:hover {
    color: #EFEFEF;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    margin: 0 10px 0 10px;
    height: 90%;

    /*background: #8dffcd;*/
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 10px;
    margin-right: 10px;
    height: 150px;

    text-decoration: none;

    /*background: #d3cda0;*/
}

.title a {
    font-size: 3rem;
    font-weight: 900;
    color: #EFEFEF;
    text-decoration: none;
}

.title-spacer {
    /*height: 30%;*/
    height: 15%;
    /*background: rgba(0, 200, 0, 0.2);*/
}

.main {
    display: flex;
    flex-direction: column;

    height: 45%;
    margin: 10px;

    /*background: #ec3456;*/
}

.main-item {
    margin: 10px 10px 0 10px;
    /*margin-top: -20px;*/

    /*background: #87a7bd;*/
}

.main-item:last-child {
    margin-bottom: 10px;
}

.main-spacer {
    height: 20%;
    /*background: rgba(0, 200, 0, 0.2);*/
}

.form {
    display: flex;
    justify-content: center;

    margin: 5px;

    /*background: #fff27f;*/
}

.form:first-child input {
    width: 500px;

    text-align: left;

    font-size: 1.32rem;

    /*border: 0;*/
    border: 1px solid #606060;

    padding: 3px 0 0 5px;

    color: #EFEFEF;
    background: rgba(0, 0, 0, 0.6);
}

.form:first-child input::placeholder {
    color: #959595;
    font-size: 1.25rem;
}

@media only screen and (max-width: 768px) {
    .form:first-child input {
        width: 280px;
    }
}

.form:last-child input {
    margin: 10px;
    padding: 3px 6px 3px 6px;

    font-size: 1.1rem;

    /*border: 0;*/
    border: 1px solid #606060;

    color: #959595;
    background: rgba(0, 0, 0, 0.6);
}

.form:last-child input:hover {
    cursor: pointer;
    color: #EFEFEF;
}

.player-title {
    display: flex;
    justify-content: center;

    margin: 5px;

    font-size: 1.25rem;

    /*background: #8cffd6;*/
}

.player-icons {
    display: flex;
    justify-content: center;
    font-size: 1.45rem;
    color: #EFEFEF;
}

.player-icon-copy {
    margin-right: 0.5rem;
}

.player-icon-copy:active {
    color: #606060;
}

.player-icons svg:hover {
    cursor: pointer;
}

.player-icon-share:active {
    color: #606060;
}

.player {
    display: flex;
    justify-content: center;

    color: #EFEFEF;
    font-size: 1.32rem;

    /*margin: 5px;*/
    margin: 10px 15px 5px 15px;

    /*background: #ffe1c1;*/
}

.player audio {
    width: 500px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px 5px -15px 5px;

    /*background: #ffbbce;*/
}

.controls-item {
    width: 100px;

    text-align: center;
    /*background: #8fff7d;*/
}

.controls-item:first-child {
    margin-right: 5px;
}

.controls-item input {
    margin-top: 5px;
    width: 40px;
    height: 30px;

    text-align: center;
    border: 0;
    /*border-bottom: 1px solid white;*/
    font-size: 1.2rem;
    font-weight: 900;
    color: #EFEFEF;
    background: transparent;
}

.controls-item input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

.controls-item input[type="number"] {
    -moz-appearance: textfield;
}

.controls-slider {
    display: flex;
    align-items: center;
    justify-content: center;

    /*margin: 5px;*/
    margin: 15px;

    /*background: #afff9d;*/
    background: transparent;

}

.controls-slider input[type="range"] {
    width: 500px;
    background: transparent;
}

/* All the same stuff for Firefox */
.controls-slider input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 10px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
}

.controls-slider input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #232323;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

@media (max-width: 768px) {
    .player audio {
        width: 500px;
    }

    .controls-slider input[type="range"] {
        width: 500px;
    }
}

@media (max-width: 600px) {
    .player audio {
        width: 300px;
    }

    .controls-slider input[type="range"] {
        width: 300px;
    }
}

.firefox a {
    color: white;
    font-weight: 900;
    border-bottom: 1px solid white;
    text-decoration: none;

}
