body {
    margin: 0;
}

.page {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background: transparent;
}

.backgroundImage {
    position: absolute;

    height: 100%;
    width: 100%;

    background-image: url("https://i.imgur.com/gKVShYr.jpg");
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;

    height: 90%;

    margin: 0 10px 0 10px;

    background: #8dffcd;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 100%;

    background: #d3cda0;
}

.main {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    margin: 10px;
    padding: 10px;

    background: #ec3456;
}
