.corner-help {
    position: absolute;
    margin: 7px 7px;
    top: 0;
    left: 0;
    font-size: 2rem;
    color: #606060;
}

.corner-help svg:hover {
    color: #EFEFEF;
    cursor: pointer;
}

.corner-help > span {
    margin-right: 7px;
}

.corner-help > img {
    margin-right: 7px;
}
