.player-title {
    display: flex;
    justify-content: center;
    margin: 5px;
    font-size: 1.25rem;

    /*background: #8cffd6;*/
}

.player-icons {
    display: flex;
    justify-content: center;
    font-size: 1.45rem;
    color: #EFEFEF;
}

.player-icon-share {
    height: 60px;
}

.player-icon-share:hover {
    cursor: pointer;
}

.player {
    display: flex;
    justify-content: center;
    color: #EFEFEF;
    font-size: 1.32rem;

    /*margin: 5px;*/

    margin: 10px 15px 5px 15px;

    /*background: #ffe1c1;*/
}

.player audio {
    width: 500px;
}

@media (max-width: 768px) {
    .player audio {
        width: 500px;
    }
}

@media (max-width: 600px) {
    .player audio {
        width: 300px;
    }
}
